NODE_ENV=development
PORT=5000
CLIENT_URLS=http://localhost:5173
MONGO_URI=mongodb://127.0.0.1:27017/task-manager-app
JWT_SECRET=your-secret-key-min-16-chars
JWT_EXPIRES_IN=7d

# For Vercel Production:
# NODE_ENV=production
# CLIENT_URLS=https://your-vercel-domain.vercel.app
# MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/db-name
# JWT_SECRET=your-prod-secret-key-min-16-chars
